@charset "utf-8";

@font-face {
  font-family: 'vintage';
  src: url(../fonts/VintageRumble.otf);
}
@font-face{
  font-family: 'big';
  src: url(../fonts/Big_Bottom_Typeface_Normal.ttf);
}
@font-face{
  font-family: "clarendon-wide-sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background: url(../images/bg.png) repeat-y center/cover;
  background-attachment: fixed;
  
}
body{
  overflow-x: hidden;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white; 
}

/* ========================햄버거버튼 ======================*/
.hamburger {
  position: fixed;
  display: block;
  cursor: pointer;
  top: 40px;
  left: 40px;
  z-index: 100;
 
}
.hamburger span {
  display: block;
  background: #FFF;
  box-shadow: 3px 3px 4px rgba(28, 21, 121, 0.37);
  width: 42px;
  height: 4px;
  border-radius: 3px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}
.hamburger span:nth-child(1) {
  margin-bottom: 8px;
}
.hamburger span:nth-child(3) {
  margin-top: 8px;
}
.hamburger.active span {
  transition: 0.25s margin, 0.25s transform 0.25s;
  background-color: gold;
  box-shadow: 1px 1px 3px rgba(255, 238, 139, 0.74);
}
.hamburger.active span:nth-child(1) {
  margin-top: 8px;
  margin-bottom: -4px;
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  margin-top: -4px;
  transform: rotate(135deg);
}
/* ===========햄버거누르면 나오는 팝업창======= */
body::before {
  content: '';
  position: fixed;
  top: -50%;
  left: -50%;
  width: 100px; /* 초기 너비를 작은 값으로 설정 */
  height: 100px; /* 초기 높이를 작은 값으로 설정 */
  border-radius: 50% 20% 20% 50%;
  background: #19366dec;
  z-index: 99;
  display: none;
}
/* ==============햄버거 팝업 메뉴============= */
.popup-menu {
  font-family: 'big';
  position: fixed;
  top: 50%; /* 중앙에 위치하도록 조정 */
  left: 50%; /* 중앙에 위치하도록 조정 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  border-radius: 5px;
  padding: 20px;
  z-index: 99;
  display: none;
}

.popup-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-menu ul li {
  margin-bottom: 10px;
  opacity: 0;
  
}
.popup-menu ul li.textAppear {
  animation: fadeInText 1s ease-in forwards;
}

.popup-menu ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  display: block;
  padding-left: 4px;
}

/* ==============팝업 글자 gold로 바꾸기========== */
.popup-menu ul li:nth-child(1) a::after{
  content: 'POINT OF VIEW';
  display: block;
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:  all 0.5s;
}
.popup-menu ul li:nth-child(2) a::after{
  content: 'INTRODUCTION';
  display: block;
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:  all 0.5s;
}
.popup-menu ul li:nth-child(3) a::after{
  content: 'CLONE CODING';
  display: block;
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:  all 0.5s;
}
.popup-menu ul li:nth-child(4) a::after{
  content: 'VIDEO 1';
  display: block;
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:  all 0.5s;
}
.popup-menu ul li:nth-child(5) a::after{
  content: 'VIDEO 2';
  display: block;
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:  all 0.5s;
}
.popup-menu ul li:nth-child(6) a::after{
  content: 'CONTACT';
  display: block;
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition:  all 0.5s;
}
.popup-menu ul li a:hover::after{
  width: 100%;
}
/* =====popup-menu 글씨 나오는중~~==== */
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 팝업 메뉴가 표시될 때 */
.popup-menu.active {
  display: block;
  
}


/* =========팝업창 켜지는 중~~===== */
body.bg-active::before {
  display: block;
  animation: circleAppear 1s ease-in forwards;
}

@keyframes circleAppear {
  to {
    width: 170%; 
    height: 200%; 
  }
}




/*=================== 헤더메뉴======================== */

.header-wrap{
  width: 400px;
  height: 1000px;
  z-index: 90;
}
header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 250px;
  left: 0;
  bottom: 0;

}
header nav ul li{
  /* display: flex;
  justify-content: space-between; */
  margin-left: 40px;
  text-shadow: 1px 1px 4px rgba(19, 15, 87, 0.998);
}
header nav ul li a{
  /* font-family: 'left'; */
  font-family: 'Vintage', sans-serif;
                                                
}
header nav{
  width: 300px;
  line-height: 90px;
}

.header-wrap li {
  position: relative;
}
.header-wrap li::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 2px;
  height: 100%;
  background-color: #fff;
  text-shadow: 2px 2px 4px rgba(28, 21, 121, 0.37);
}
.header-wrap li::after{
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
  text-shadow: 2px 2px 4px rgba(28, 21, 121, 0.37);
  width: 10px;
  height: 2px;
  content: "";
  display: block;
}
.header-wrap li a {
  display: block;
  width: 100%;
  padding-left: 30px;
}
.header-wrap nav li a:hover{
  margin-left: 10px;
  transition: 0.2s all;
}

.header-wrap nav ul li{
  transition: font-size 0.2s;
}
/* ===============영역=================== */
.item{
  height: 120vh;
  padding: 40px;
  width: 90%;
  margin: 0 auto;
}
/* ===========자바스크립트에서 추가할 헤더영역 클래스========= */

.header-wrap nav ul li.on {
  
  font-size: 50px;
  text-shadow: 3px 3px 30px rgba(28, 21, 121, 1);
}
.header-wrap nav ul li.on a {
  color: rgb(253, 232, 8); 
}
.header-wrap nav ul li.on::after {
  width: 20px;
  
}




/* ================꽃에 물 주는 구름==================== */

.cloud {
  position: absolute;
  top: 10%;
  left: 63%;
  width: 50px;
  height: 30px;
  transform: translate(-50%, -50%);
  color: rgb(225, 248, 255);
}
.cloud .puffs {
  animation: cloud 4s 0s infinite normal both;
  top: 0;
  border-radius: 50% 50% 50% 50%;
  left: 0;
  background: linear-gradient(to right, #e8ecff, #fff);;
  position: absolute;
  width: 65px;
  height: 35px;
  box-shadow: 114px 0, 121px 0, 57px 0, -7.5px -7.5px rgb(170, 217, 255), 54.5px -15.5px rgb(230, 245, 255), 39.5px -29.5px rgb(242, 252, 255), 5.5px -18.5px rgb(236, 251, 255), 20.5px 20.5px rgb(218, 245, 255), 74.5px 18.5px rgb(208, 238, 252), 83px -27px #a1e1ff, 109px -13px #eff9ff, -5px 6px #d5f3ff, 96px 12px #b7e8ff
}
.cloud .rain .drop {
  width: 3px;
  height: 10px;
  border-radius: 50%;
  background: #149ef5;
  position: absolute;
  z-index: -2;
  opacity: 0;
}
.cloud .rain .drop:nth-child(0) {
  animation: rain 1s 0ms infinite normal both;
  left: 12px;
}
.cloud .rain .drop:nth-child(1) {
  animation: rain 1s 300ms infinite normal both;
  left: 32px;
}
.cloud .rain .drop:nth-child(2) {
  animation: rain 1s 600ms infinite normal both;
  left: 53px;
}
.cloud .rain .drop:nth-child(3) {
  animation: rain 1s 900ms infinite normal both;
  left: 67px;
}
.cloud .rain .drop:nth-child(4) {
  animation: rain 1s 1200ms infinite normal both;
  left: 83px;
}
.cloud .rain .drop:nth-child(5) {
  animation: rain 1s 1500ms infinite normal both;
  left: 105px;
}
.cloud .rain .drop:nth-child(6) {
  animation: rain 1s 1800ms infinite normal both;
  left: 132px;
}

@keyframes cloud {
  50% {
    transform: translateY(-12px);
  }
}
@keyframes shadow {
  50% {
    width: 70%;
    transform: translateX(22%);
  }
}
@keyframes rain {
  10% {
    opacity: 1;
  }
  90% {
    transform: translateY(90px);
  }
}


/* =============point of view 내용======== */
#pointofview{
  position: relative;
  width: 100%; 
}
.firstframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  padding-top: 52%;
}
.firstpeople{
  position: absolute;
  top:-100%;
  z-index: 3;
}
.people{
  width: 80%;
}
.rose {
  width:88.46%;
  position: absolute;
  top: 50%; /* 부모 요소의 상단에서 50% 위치로 이동합니다. */
  left: 50%; /* 부모 요소의 왼쪽에서 50% 위치로 이동합니다. */
  transform: translate(-50%, -50%); /* 요소를 정중앙으로 이동시킵니다. */
  z-index: 1;
}
.rose img {
  max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 너비에 맞게 설정합니다. */
  max-height: 100%; /* 이미지의 최대 높이를 부모 요소의 높이에 맞게 설정합니다. */
  height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
}
.firstframe iframe {
  z-index: 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid #5a7498;
  
}
.frameline{}

/*iframe 팝업 css */
.popup{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.popup .popupfull{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.3)
}

.popup .popupfull::after{
  content: 'X';
  background-color: red;
  position: fixed;
  top: 0; right: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}
.popup.on{
  display: block;
}

.popup .iframebox {
  width: 50%; /* 원하는 너비로 설정하세요 */
  height: 60%; /* 원하는 높이로 설정하세요 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup .iframebox iframe {
  width: 100%;
  height: 100%;
}

/* =============INTRODUCTION 내용======== */

 .introduction{
  
}
.toolgroup{
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  left: 50%;
  
  
}
.toolgroup > div{

}

.aftereffect img{
  position: absolute;
  width: 10rem;
  
  
}
.illustrator img{
  position: absolute;
  top: 10rem;
  width: 6rem;
}
.blender img{
  position: absolute;
  width: 10rem;
  top: 15rem;
  left: -10rem;
}
.css img{
  position: absolute;
  width: 5rem;
  top: 15rem;
  left: 7rem;
}

.html5 img{
  width: 5rem;
  position: absolute;
  left: 13rem;
  top: 6rem;
}
.javascript img{
  width: 4rem;
  position: absolute;
  left: -18rem;
  
}
.premierepro img{
width: 12rem;
position: absolute;
left: -13rem;
top: 2rem;
}
.photoshop img{
position: absolute;
width: 6rem;
left: -20rem;
top: 10rem;

} 
.secondpeople-parent{
  position: relative;
}
.secondpeople{
  position: absolute;
  left: 55%;
  top: 150%;
  
}
/* 
.toolgroup{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px; 
} */

.introduction .toolgroup{}
.introduction .toolgroup .aftereffect{}
.introduction .toolgroup .blender{}
.introduction .toolgroup .photoshop{}
.introduction .toolgroup .illustrator{}

/* =============CLONECODING 내용======== */
.codingzone {
  width: 70%;
  margin-left: auto;
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
}
.arrow {
  width: 15px;
  height: 500px;
  background-color: rgb(62, 26, 26);
}
.arrow::after {
  content: "RANDIS";
  font-family: "clarendon-wide-sketch", sans-serif;
  font-size: 1.9rem;
  position: absolute;
  width: 1000%;
  height: 50px;
  top: 10%;
  left: 50%;
  color: #277BC0;
  background-color: #FEB200;
  transition: color 0.3s, background-color 0.3s; /* 색상에 대한 트랜지션 */
  cursor: pointer;
}

.arrow::after:hover {
  color: #FEB200;
  background-color: #182351;
}
.arrow::before {
  content: "ANYWAY";
  font-family: "clarendon-wide-sketch", sans-serif;
  font-size: 1.7rem;
  
  position: absolute;
  width: 1000%;
  height: 50px;
  top: 30%;
  right: 50%;
  color: #277BC0;
  background-color: #FEB200;
  transition: all 3s;
}

.randys-parent {
  /* height: 100vh; */
  width: 60%;
  position: relative;
}

.randysstore {
  width: 100%;
  height: 100%;
  background: url('../images/randysstoreshadow.png') no-repeat right top/contain;
}
.randysgold {
  width: 43%;
  height: 68%;
  background: url(../images/randysgoldshadow.png) no-repeat center / contain;
  position: absolute;
  top: -224px;
  left: 27%;
  
}

/* =============VIDEO1 내용======== */
/* =============VIDEO02 내용======== */






/* =============CONTACT 내용======== */
#contact {
  position: relative;
}

/* @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC'); */

::selection {
  background: transparent;
}

h4 {
  font-size: 26px;
  line-height: 1px;
  /* font-family: 'Amatic SC', cursive !important; */
  font-family: "clarendon-wide-sketch", sans-serif;
}

.color1 {
  color: #1BBC9B; /*MOUNTAIN MEADOW*/
}

.color2 {
  color: #C0392B; /*TALL POPPY*/
}

.card {
  font-family: "clarendon-wide-sketch", sans-serif;
  color: #013243; /*SHERPA BLUE*/
  position: absolute;
  top: 65%;
  left: calc(30% + 250px); /* 오른쪽으로 170px만큼 이동하여 secondframe 이미지와 겹치지 않도록 수정 */
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-50%,-50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
  transition: 1s;
}

.card:hover {
  transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
  content:'';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #BAC1BA;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #92A29C;
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: .7s;
}

.card .bark {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .7s;
}

.card .imgBox img {
  min-width: 250px;
  max-height: 400px;
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
}

.card:hover .bark {
  opacity: 1;
  transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
  position: absolute;
  top: 30%; /* 카드의 상단에 위치하도록 수정 */
  left: 10px; /* 카드의 좌측에 위치하도록 수정 */
  box-sizing: border-box;
  padding: 0 0 0 10px;
  z-index: -1;
  width: calc(100% - 20px); /* 카드의 내부에 꽉 차게 배치되도록 수정 */
  height: calc(100% - 20px); /* 카드의 내부에 꽉 차게 배치되도록 수정 */
}

.card .details p {
  font-size: 15px;
  line-height: 2rem; /* 줄간격을 조정하여 텍스트가 겹치지 않게 수정 */
  transform: none; /* 변형 속성을 초기화하여 기본적인 텍스트 레이아웃을 사용하도록 수정 */
  padding: 0; /* 여백을 초기화하여 카드 내부에 꽉 차게 배치되도록 수정 */
}

.card .details h4 {
  text-align: center;
}

.text-right {
  text-align: right;
}

.secondframe {
  position: absolute;
  top: 55%;
  left: calc(13% - 100px); /* 카드와 같은 x축 위치에 배치 */
  transform: translateY(-50%);
  
}
.secondframe img{
  width: 40%;
}


/* 테이블 */
.table-parent{
  position: relative;
}
.table{
  position: absolute;
  top: 15%;
  left: 20%;
  width: 50rem;
  height: 50rem;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.tablematte{
  width: 85%;
}


